.placar {
	display: none;
}

body {
	overflow: scroll;
}

#erro {
	color: red;
	display: none;
}

#spinner {
	display: none;
}

#frase-id {
	width: 30px;
}

.botao-sync {
	float: right;
}

.select-usuarios {
	display: inline-block;

}

#usuarios {
	display: block;
}

.selectize-input {
	width: 350px;
}